@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Marhey:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}




body {
  background-color: rgb(241, 238, 234);
  /* min-height: 100vh; */
}

#container-api {
  /* background-color: rgba(101, 101, 139, 0.506); */
  min-height: 100vh;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.card {
  height: 60vh;
  width: 100%;
  border: 2px solid rgba(198, 195, 195, 0.39);
  margin: 3rem;
  /* gap: 10px; */
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.cities {
  background-color: rgba(174, 169, 169, 0.463);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.populations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.populations img {
  width: 100%;
  border-radius: 50px;
}

.regions {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(125, 117, 117, 0.176);
  align-items: center;
  justify-content: center;
}

@media (max-height: 600px) {
  #container-api {
    /* background-color: rgba(101, 101, 139, 0.506); */
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    height: 30vh;
    /* width: 20%; */
    border: 2px solid black;
    /* margin: 3rem; */
    align-items: center;
    text-align: center;
  }

  .populations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .populations img {
    width: 50%;
  }
}


@media (max-height: 400px) {
    #container-api {
      background-color: rgba(218, 71, 34, 0.506);
      min-height: 50vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .card {
      height: 30vh;
      /* width: 20%; */
      border: 2px solid black;
      /* margin: 3rem; */
      align-items: center;
      text-align: center;
    }
  
    .populations {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .populations img {
      width: 50%;
    }
  }
  